@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-button {
  width: 160px;
  height: 50px;
  background: conic-gradient(from 90deg at 50% 100%, #FFFFFF 0deg, #FFFFFF 360deg);
  box-shadow: 0px 20px 24px 0px #00000008;
  color: #5B5B5B;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 2%;
  border: none;
  cursor: pointer;



  border-radius: 80px;


}

.secondary-button {
  width: 160px;
  height: 50px;
  top: -2016px;
  left: -3777px;
  border-radius: 80px;
  background: #FFFFFF4D;
  box-shadow: 0px 20px 24px 0px #00000008;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 2%;
  color: #FFFFFF;
  font-family: 'Inter';
  border: none;
  cursor: pointer;



}

/* // pop-up-styling */

.pop-up-dialog{
  width: 420px;
  height: 200px;
  border-radius: 20px;
  padding: 28px;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.css-10d30g3-MuiPaper-root-MuiDialog-paper {
  border-radius: 20px !important;

}

.icon-holder{
 background-color: rgb(148, 163, 184);
  height: 50px;
  width: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.tittle-pop-up{
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: 'Inter';
  h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    margin: 0px;
    letter-spacing: 2%;
    color: #000000;
  }
  p{
    margin: 0px;
  }
}
.pop-up-dialog-content-header{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.pop-buttons{
  background: rgb(15, 23, 42);
  color: white;
  margin-right: 14px;
}
